<div class="text-center">
  <%= link_to "Shady Cocktails", cocktails_path, class: "nav-link navbar-title" %>
  <%= link_to "Add New Drink", new_cocktail_path, class: "btn navbar-btn rounded-pill" %>
</div>
